{% load static %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'my_style.css' %}"/>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
        <script src="{% static 'my_script.js' %}"></script>   
    </head>
    <div class="header_bar">
        <div class="row container">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="row">
                    <div class="col-2">
                        <h4>AwkwardAnt</h4>
                    </div>
                    <div class="col-2">
                        <a class='no_text_decoration header_item_bar rounded-pill' href="/">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <body>
        {% block content %}
        {% endblock %}
    </body>

    <footer class="footer_background">
        &nbsp;
    </footer>
</html>

