{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'my_style.css' %}">
    </head>

    <body>
        <div class="center_block_container">
            <div class="col-4 text-center center_block center_block_container main_bg_color rounded-pill">
                <div class="center_vertical main_button_height">
                    <div class="text-center">Select location</div>
                </div>
            </div>
        </div>
        <div class="center_block_container">
            <div class="center_block">
                <ul class='list-group'>
                    <li class='list-group-item list_border_width'>A</li>
                    <li class='list-group-item list_border_width'>B</li>
                    <li class='list-group-item list_border_width'>C</li>
                    <li class='list-group-item list_border_width'>D</li>
                </ul>
            </div>
        </div>
    </body>
</html>