{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row page_title">
        <div class="col-1"></div>
        <div class="col-10">
            <h1>Locations</h1>
        </div>
    </div>

    <div class='row'>
        <div class='col-1'></div>
        <table id='img_table' class='col-10 table'>
            <tbody>
            </tbody>
        </table>
    </div>

    <script>
        insertImageToTable(document.getElementById('img_table'), {{ location_list|safe }}, 3);
    </script>

{% endblock %}