{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row container">
        <div class="col-3"></div>
        <div class="col-8">
            <div class="suggestion_title_margin">
                <div class='row'>
                    <div class='col-1'>
                        <img id="upvote_button" class="upvote_image_size" src="{% static 'upvote_button.png' %}"/>
                        <div id="vote_count" class="center_block_container upvote_image_size">
                            {{ description.score }}
                        </div>
                        <div class="vote_legend_font_size center_block_container upvote_image_size">
                            votes   
                        </div>
                        <img id="downvote_button" class="upvote_image_size" src="{% static 'downvote_button.png' %}"/>
                    </div>
                    <div class='col-11'>
                        <h3>{{ description.title }}</h3>
                        <div>
                            {{ description.detail }}
                        </div>
                        <div class='row'>
                            <div class='col-8'></div>
                            <div class='col-4 contributor_box text-right suggestion_contributor_background'>
                                {{ description.contributor }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        addClickHandler(document.getElementById("upvote_button"), document.getElementById("downvote_button"), '{{ upvoted }}', {{ description.score }});
    </script>

{% endblock %}

