.center_block_container{
    text-align: center;
}

.center_block{
    text-align: center;
    display: inline-block;
    width: 30%;
    height: 3em;
}

.overflow{
    overflow: auto;
}

.center_vertical{
    padding-top: 0.75em;
}

.main_bg_color{
    background-color: #ffb0f8;
}

.main_button_height{
    height: 3em;
}

.main_bar_margin{
    margin-top: 20%;
}

.list_border_width{
    border-width: 10px;
}

.location_list_width{
    width: 20em;
}

.suggestion_title_margin{
    margin: 1.5em;
}

.suggestion_action_font_color{
    color: #9e1876;
}

.vote_legend_font_size{
    font-size: 0.75em;
}

.suggestion_contributor_background{
    background-color: #edc893;
}

.upvote_image_size{
    width: 1.5em;
    height: 1.5em;
}